<form *ngIf="orderItem" name="deleteForm" (ngSubmit)="confirmDelete(orderItem.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="orderItemDeleteDialogHeading" jhiTranslate="entity.delete.title">Konfirmasi proses penghapusan</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-orderItem-heading" jhiTranslate="jhipsterApp.orderItem.delete.question" [translateValues]="{ id: orderItem.id }">
      Apakah anda yakin ingin menghapus Order Item {{ orderItem.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Batal</span>
    </button>

    <button id="jhi-confirm-delete-orderItem" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Hapus</span>
    </button>
  </div>
</form>
